input, textarea{
    border: none;
    border-bottom: 1px solid rgb(54, 54, 54);
}
input::placeholder, textarea::placeholder{
    color:rgb(54, 54, 54);
    font-size:14px;
}
input:hover, textarea:hover{
    color:red
}
.card{
    width: 300px;
    height: 300px;
    transition: 0.3s ease-out;
    overflow: hidden;
}