@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// Landing page main image
#landing-image {
  @apply hidden lg:block xl:block  #{!important};
}